<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/baby_penguin.jpeg" height="60" title="Frontend" alt=""></td>
        <td><a href="https://lovemydogs.github.io/Timeline/markdown/2022/08/21/markdowning.html">Beginning</a></td>
        <td><a href="https://lovemydogs.github.io/Timeline/javascript/2020/09/25/javascript.html">Javascript Demonstration</a></td>
        <td><a href="{{site.baseurl}}/_posts/2022-09-19-mental-health-habits.md">Mental Health</a></td>
        <td><a href="https://lovemydogs.github.io/Timeline/group/2022/09/25/groupwork-post.html">Groupwork</a></td>
    </tr>
</table>

